<!DOCTYPE html>
<html ng-app="ptApp">

<head>
	<meta charset="UTF-8">
	<title>Hello World!</title>

	<link rel="stylesheet" href="app/style.css" type="text/css" />
</head>

<body>
	<!--<h1>Hello World!</h1>
    <!-- All of the Node.js APIs are available in this renderer process. -->


	<div ng-controller="AppController">

		<p>
			<table class="config-panel">
				<thead>
					<tr>
						<th colspan="2">配置信息
							<button type="button" ng-if='!configEditMode' ng-click='enableConfigEdit()'>修改</button>
							<button type="button" ng-if='configEditMode' ng-click='saveConfigs()'>保存</button> </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="config-title">设备ID</td>
						<td class="config-body">
							<label ng-if='!configEditMode'>{{configs.deviceId}}</label>
							<input ng-if='configEditMode' ng-model="configs.deviceId" />
						</td>
						<td>

						</td>
					</tr>

					<tr>
						<td class="config-title">葡萄账号</td>
						<td class="config-body">
							<label ng-if='!configEditMode'>{{configs.username}}</label>
							<input ng-if='configEditMode' ng-model="configs.username" />
						</td>
						<td>
						</td>
					</tr>

					<tr>
						<td class="config-title">Transmission状态</td>
						<td class="config-body">
							<label>{{client.state|serverStatus}}</label>
						</td>
						<td>
						</td>
					</tr>

					<tr>
						<td class="config-title">葡萄服务器状态</td>
						<td class="config-body">
							<label>{{ptServer.state|serverStatus}}</label>
						</td>
						<td>
						</td>
					</tr>

					<tr>
						<td class="config-title">路径配置 <button ng-if='configEditMode' type='button' ng-click='addFolder()'>添加</button></td>
						<td class="config-body">
							<table>
								<tr ng-repeat="f in folders">
									<td style='width:100px;'>
										<label ng-if='!configEditMode'>{{f.label}}</label>
										<input ng-if='configEditMode' type='text' ng-model='f.label'/>
									</td>
									<td>{{f.value}}<button ng-if='configEditMode' type='button' ng-click='updateFolder(f)'>更改</button></td>
									
								</tr>
							</table>
						</td>
						<td>
						</td>
					</tr>

				</tbody>
			</table>
		</p>


		<p>
			<table class="torrent-panel">
				<thead>
					<tr>
						<th colspan="2">Transmission做种内容</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="t in client.torrents">
						<td class="torrent-name" title='{{t.name}}'><label>{{t.name}}</label></td>
						<td class="torrent-size">{{t.totalSize | sizeFormat}}</td>
					</tr>
				</tbody>
			</table>
		</p>





	</div>
</body>

<script>
	// You can also require other files to run in this process

	require('angular');
	require('angular-local-storage');
	require('./renderer.js');

</script>

</html>