<!-- Page Header -->

<!-- END Page Header -->

<!-- Stats -->
<div class="content bg-white border-b" ng-if="false">
    <div class="row items-push text-uppercase">
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Today</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">300</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> This Month</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">8,790</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Total Earnings</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 93,880</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Average Sale</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 270</a>
        </div>
    </div>
</div>
<!-- END Stats -->



<!-- Page Content -->
<div class="content content-narrow">

    <div class="block block-transparent" id="block-stats">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    <button type="button" ng-click="refreshStatsBlock()"><i class="si si-refresh"></i></button>
                </li>
            </ul>
        </div>
        <div class="block-content">
            <!-- Icon Tiles -->
            <h2 class="content-heading" ng-if="false">Quick Link</h2>
            <div class="content-grid push-50" ng-if="false">
                <div class="row">

                    <div class="col-xs-6 col-sm-4 col-lg-2" permission permission-only="'MANAGE_ACCOUNT'">
                        <a class="block block-link-hover2 text-center" ui-sref="layout.user">
                            <div class="block-content block-content-full bg-success">
                                <i class="si si-users fa-4x text-white"></i>
                                <div class="font-w600 text-white-op push-15-t">Users</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-lg-2" permission permission-only="['REVIEW_REPORT','UPLOAD_REPORT']">
                        <a class="block block-link-hover2 text-center" ui-sref="layout.template">
                            <div class="block-content block-content-full bg-amethyst">
                                <i class="si si-note fa-4x text-white"></i>
                                <div class="font-w600 text-white-op push-15-t">Templates</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-lg-2" permission permission-only="['REVIEW_REPORT','UPLOAD_REPORT']">
                        <a class="block block-link-hover2 text-center" ui-sref="layout.report-list">
                            <div class="block-content block-content-full bg-city">
                                <i class="si si-bar-chart fa-4x text-white"></i>
                                <div class="font-w600 text-white-op push-15-t">Reports</div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <!-- END Icon Tiles -->

            <!-- One Row Tiles -->
            <!--<h2 class="content-heading">Stats</h2>-->
            <div class="content-grid push-50">


                <!-- Background Colored Tiles -->
                <div class="row">
                    <div class="col-md-6" permission permission-only="'MANAGE_ACCOUNT'">
                        <a class="block block-link-hover2" href="javascript:;" ng-click="clickPTServer()">
                            <div class="block-content block-content-full bg-success clearfix">
                                <i class="fa fa-server fa-2x text-white pull-right"></i>
                                <span class="h4 font-w700 text-white">葡萄服务器</span>
                                <span class="h4 text-white-op">({{ptState|serverStatus}})</span>
                                <span class="h4 text-white-op" ng-if="ptState==='disconnect'">(点击重连)</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="block block-link-hover2" href="javascript:;" ng-click='clickTransmission()'>
                            <div class="block-content block-content-full bg-primary clearfix">
                                <i class="si si-arrow-down fa-2x text-white pull-right"></i>
                                <span class="h4 font-w700 text-white">Transmission</span>
                                <span class="h4 text-white-op">({{transmissionState|serverStatus}})</span>
                                <span class="h4 text-white-op" ng-if="transmissionState==='disconnect'">(点击重连)</span>
                            </div>
                        </a>
                    </div>

                </div>
                <!-- END Background Colored Tiles -->
            </div>
            <!-- END One Row Tiles -->
        </div>
    </div>



</div>
<!-- END Page Content -->

<!--
<ng-include src="'pages/report/report-list.html'"></ng-include>

<ng-include src="'pages/report/report-templates.html'"></ng-include>-->